{block menu}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
	<div class="container">
	    <div class="nav-collapse">
		<ul class="nav">
		    {foreach $menuItems as $item}
			{if is_a($item, "Item")}
			    <li class="{$item->class}"><a href="{plink Kodedit:}">{_($item->title)}</a></li>
			{else}
			    <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{$item->title} <b class="caret"></b></a>
				<ul class="dropdown-menu">
				    {foreach $item->items as $dropItem}
					<li><a n:href="$dropItem->url">{_($dropItem->title)}</a></li>
				    {/foreach}
				</ul>
			    </li>
			{/if}
		    {/foreach}	
		</ul>
		<ul class="navbar-form pull-right">
		    <li><a href="{plink this, 'lang'=>'en'}">{_(English)}</a></li>
		    <li><a href="{plink this, 'lang'=>'cs'}">{_(Česky)}</a></li>
		</ul>
		{block login}
		    {if $presenter->user->isLoggedIn()}
			<ul class="nav pull-right">
			    <li><a href="#">{$user->getName()}</a></li>
			    <li><a href="{plink userLogout!}">{_(logout)}</a></li>
			</ul>
		    {else}
			<?php $form->render('begin') ?>
			<?php $form->render('errors') ?>
				<?php echo $form['username']->control ?>
				<?php echo $form['password']->control ?>
				<?php echo $form['submitter']->control ?>
			<?php $form->render('end') ?>
		    {/if}
		{/block}
	    </div><!--/.nav-collapse -->
	</div>
    </div>
</div>
{block error}
<div n:foreach="$flashes as $flash" class="alert {$flash->type} span6 pull-right">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>{_($flash->message)}</strong>
</div>
{/block}

{/block}
